<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Arima&family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
    <title>My Todo List</title>
</head>
<body>
    <header>
        <ul class="nav">
            <li><a href="/today" class="nav-link today">Today</a></li>
            <li><a href="/work" class="nav-link work">Work</a></li>
            <li><a href="/" class="nav-link overview">Overview</a></li>
        </ul>
    </header>
    <main>