<%- include ("partials/header.ejs") %>

<div class="firstbox">
    <div class="box" id="heading">
        <h1>
         Today <%= new Date().toLocaleDateString("tr-TR") %> 
        </h1>
    </div>
    <div class="innerbox">
        <%for (var i = 0; i < toDoItems.length; i++) { %>
                <div class="item" >
                    <input type="checkbox" >
                    <p id="texts">
                        <%= toDoItems[i] %>
                    </p>
                </div>
        <%} %>

        <form class="item" action="/today" method="post">
            <input type="text" name="newItem" placeholder="Add task to your list..." autocomplete="off">
            <button type="submit" name="list" value="Work" list="">ToDo</button>
        </form>
    </div>
    </div>
    
<%- include("partials/footer.ejs") %>